h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  margin: 50px 180px;
}

p,
h2,
h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  margin: 5px;
}

.container {
  padding: 20px;
}

.container-about {
  background-color: #080607;
  padding: 20px;
}

.about-us-heading,
.photo-source {
  color: white;
}

.croissant-photo {
  display: block;
  max-width: 100%;
  margin: auto;
}

.photo-source {
  font-size: 10px;
}

.links {
  margin-top: 140px;
  text-align: center;
  display: flexbox;
}

.homepage,
.about,
.contact {
  display: inline;
  justify-content: center;
}
